# Virtual environment
venv/
.env/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# Notebook checkpoints
.ipynb_checkpoints/

# Plots (optional — include if you want reproducibility)
#None

#dataset
Churn_Modelling.csv